{% extends 'base.html' %} {% block content %}

<h1 class="border-bottom">{{ recipe.title }}</h1>
<span class="badge badge-pill badge-success mb-5">{{recipe.category}}</span>

<section class="d-flex justify-content-between">
  {% if recipe.ingredients %}
  <div class="mr-3 pr-5 border-right">
    <p class="font-weight-bold">Ingredients</p>
    <p>{{recipe.ingredients | linebreaks}}</p>
  </div>
  {% endif %} {% if recipe.preparation %}
  <div class="mr-5">
    <p class="font-weight-bold">Preparation</p>
    <p>{{recipe.preparation | linebreaks}}</p>
  </div>
  {% endif %} {% if recipe.photo %}
  <img
    src="{{recipe.photo.url}}"
    alt="{{recipe.title}}"
    style="max-width: 450px; border-radius: 5px;"
  />
  {% endif %}
</section>

{% endblock %}
