<!-- Because of how the app_directories template loader works,
    you can refer to this template within Django as cookbook/index.html. -->

{% extends 'base.html' %} {% block content %}
<div class="text-center border-bottom mb-5">
<h1 class="d-inline-block">Luke's Recipes</h1>
<a href="{% url 'cookbookNamespace:add' %}" style="font-size: 40px; margin-left: 15px;">+</a>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
  {% if latest_recipe %} {% for recipe in latest_recipe %}
  <div class="col mb-5">
    <div class="card">
      {% load static %} 
      {% if recipe.photo %}
      <img src="{{recipe.photo.url}}" alt="{{recipe.title}} image" style="max-height: 200px; object-fit: cover;">
      {% else %}
      <img src="{% static "cookbook/image-placeholder.jpg" %}"
      alt="{{recipe.title}} image" style="max-height: 200px; object-fit: cover;">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{recipe.title}}</h5>
        {% if recipe.description %}
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        {% endif %}
        <a href="{% url 'cookbookNamespace:detail' recipe.id %}" class="btn btn-warning mt-2"
          >View Recipe</a>
      </div>
    </div>
  </div>
  {% endfor %} {% else %}
    <p>No recipes available</p>
  </div>
  {% endif %}
</div>

{% endblock %}
